<h1>Hello!</h1>

<p>Welcome to TenKHours Dylan</p>

<form>
  Username:<br>
  <input type="text" name="Username"><br>
  Password:<br>
  <input type="password" name="password">
</form>

<p><%= @message %></p>
